{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<form action="/shorter/yes" method="get">
	<input type="text" name="url" placeholder="Shorten Your url">
	<input type="submit" value="Shorten">
</form>